.login-page {
  margin: auto;
  margin-top: 150px;
  max-width: 30%;
  display: flex;
  flex-direction: column;

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 30%;

    label {
      float: inline-start;
      width: 6em;
      text-align: left;
    }

    // input,
    // textarea {
    //   text-align: left;
    //   width: 20em;
    // }

    button {
      margin-top: 40px;
      background-color: lightblue;
    }
  }
}
