.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 10px;
  //   padding: 10px;

  .layout-top {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    grid-area: header;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    flex-flow: row wrap;
    background-color: lightgray;

    .logout-btn {
      background-color: #ff5c3a;
      padding-inline: 7px;
      color: white;
    }
  }
  .main {
    grid-area: main;
  }
  .layout-bottom {
    grid-area: footer;
    // background-color: aqua;
  }
}
