.container {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  gap: 10px;
  height: 100vh;

  .layout-top {
    grid-area: header;

    .navbar {
      border: 1px solid black;
      color: white;
      border-radius: 10px;
      margin: 10px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 100px;
      flex-flow: row wrap;
      background-color: black;
    }

    .logout-btn {
      background-color: #ff5c3a;
      padding-inline: 7px;
      color: white;
    }
  }
  .main {
    grid-area: main;
    margin-bottom: 30px;
  }
  .layout-bottom {
    grid-area: footer;
  }
}
