.wrapper {
  display: grid;
  grid-template-areas: "left middle right";
  .btn-black {
    background-color: black;
    color: white;

    padding: 4px;

    &.arrow {
      padding: 0;
      font-size: 30px;
      border-radius: 20px;
      min-width: 40px;
      min-height: 40px;
      align-self: flex-end;
    }
  }

  .label {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .description {
    color: #767676;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 15px;
  }

  .white-box {
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    button {
      margin-top: 10px;
    }

    input {
      border-radius: 5px;
    }

    button:disabled {
      background-color: gray;
    }

    &.corner {
      border-radius: 1px 20px 20px 1px;
      border-left: 0;
      margin-left: 0;
      display: flex;
      padding: 10px 00px 0px 10px;
      img {
        margin-left: 40px;
        transform: scalex(-1);
        width: 150px;
        height: 150px;
        border-radius: 1px 1px 1px 20px;
      }
    }
  }

  .left {
    grid-area: left;
    align-self: end;
  }

  .middle {
    grid-area: middle;

    display: grid;
    align-items: flex-end;
    grid-template-areas: "middle-left  middle-left middle-right";

    .middle-left {
      grid-area: middle-left;
      display: grid;
      grid-template-areas:
        "wallet-setup wallet-setup"
        "wallet-data refer-friend";

      .wallet-setup {
        grid-area: wallet-setup;
        display: flex;
        flex-direction: row;
      }
    }

    .middle-right {
      grid-area: middle-right;
      max-width: 400px;
    }
  }

  .right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
